@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.woff2") format("woff2"),
url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
url("../images/flaticon.svg#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-cheers:before {
    content: "\f101";
}
.flaticon-wedding-rings:before {
    content: "\f102";
}
.flaticon-restaurant:before {
    content: "\f103";
}
.flaticon-wedding-cake:before {
    content: "\f104";
}
.flaticon-photo-camera:before {
    content: "\f105";
}
.flaticon-video-camera:before {
    content: "\f106";
}
.flaticon-wedding-dress:before {
    content: "\f107";
}
.flaticon-cocktail:before {
    content: "\f108";
}
.flaticon-champagne:before {
    content: "\f109";
}
.flaticon-microphone:before {
    content: "\f10a";
}
.flaticon-wedding-arch:before {
    content: "\f10b";
}
.flaticon-wedding-invitation:before {
    content: "\f10c";
}
.flaticon-garlands:before {
    content: "\f10d";
}
